{% extends 'base.html' %}
{% load bootstrap3 %}


{% block seo %}
<meta name="description" content"Helping people to find cakes for birthday's and events in Dubai, Abu Dhabi and Sharjah by finding them bakers in their neighbourhood.">
	<title>Post an ad to find people to bake a cake for you.</title>
{% endblock %}

{% block auth %}
					{% if not user.is_authenticated %}
						<li><a class='btn' href="{% url 'account_signup' %}?next={% url 'new_profile_view' %}" style='background:#CF3030;'><h4 class='thin' style='color:white;'>Become a cook</h4></a></li>
						<li><a class="btn" href="{% url 'account_login' %}" style="background-color:white; color:#CF3030">SIGN IN</a></li>
					{% else %}
					<li><a class="btn" href="{% url 'edit_profile_view' %}" style="background-color:white; color:#CF3030">EDIT PROFILE</a></li>
					<li><a class="btn" href="{% url 'account_logout' %}" style="background-color:#CF3030; color:white">LOGOUT</a></li>
					{% endif %}
{% endblock %}



	{% block content %}
	<div class='container text-center' style='margin-top:100px; background-color:;'>
		<h3 class='thin'>Find people to bake a cake for you</h3>
		<div class='row'>
		<div class='col-lg-3'>
		</div>
		
		<div class='col-lg-6 text-center'>
	<form  id='everydayfoodform'  method="POST">{% csrf_token %}
		<div class='panel panel-default text-center' style='padding:15px;background-color:#eee;'>
		{% bootstrap_form form %}
		<button class='btn btn-primary' style='margin:15px;' type='submit'>Create</button>
		</div>
		</form>
	</div>
		<div class='col-lg-3'>
		</div>


	</div>
</div>	



	<script>
	var input = document.getElementById('location_input');
	var types = []
	var autocomplete = new google.maps.places.Autocomplete(input);
	autocomplete.setTypes(types)
	
	
	
	</script>

	{% endblock %}