{% extends 'base.html' %}
{% load staticfiles %}

{% block seo %}
<meta name="description" content"44cooks is place to find healthy home made food cooked by home cooks and professional cooks in Dubai, Abu Dhabi and Sharjah.">
	<title>The best place to find healthy home made food.</title>
{% endblock %}

{% block food_buttons %}

	<li><a class="btn" href="{% url 'new_everyday_food' %}" style="background-color:white; color:#CF3030; margin:10px;">New Everyday Food</a></li>
	<li><a class="btn" href="{% url 'new_event_food' %}" style="background-color:white; color:#CF3030; margin:10px;">New Event Food</a></li>
	<li><a class="btn" href="{% url 'new_baked_food' %}" style="background-color:white; color:#CF3030; margin:10px;">New Baked Food</a></li>
	
{% endblock %}

{% block auth %}
					{% if not user.is_authenticated %}
						<li><a class='btn' href="{% url 'account_signup' %}?next={% url 'new_profile_view' %}" style='background:#CF3030;'><h4 class='thin' style='color:white;'>Become a cook</h4></a></li>
						<li><a class="btn" href="{% url 'account_login' %}" style="background-color:white; color:#CF3030">SIGN IN</a></li>
					{% else %}
					<li><a class="btn" href="{% url 'edit_profile_view' %}" style="background-color:white; color:#CF3030">EDIT PROFILE</a></li>
					<li><a class="btn" href="{% url 'account_logout' %}" style="background-color:#CF3030; color:white">LOGOUT</a></li>
					{% endif %}
{% endblock %}

{% block content %}
<div class='container' style='margin-top:-150px;'>


<div class='row' style='margin-bottom:100px;'>
<img src="{% static 'assets/images/cook2.jpg' %}" >
<h2 class="thin text-center">Find people to cook for you</h2>
	<div class='col-sm-2'>
	</div>
	<div class='col-md-8'>
		
<h4 class='thin'>Take a moment and think about the number of times you order food from restaurants.</h4>

<h4 class='thin'>If its more than 5 times a week, you my friend need some good food.</h4><br>

<h4 class='thin'>What if your neighbour agrees to cook your everyday dinner? Would'nt that be amazing? </h4>
<h4 class='thin'>Introducing 44cooks.com, a place where you can find neighbours to cook for you!</h4>

<h4 class='thin'>Most of us are so busy that we hardly have to time to cook a decent meal. On the other hand there are people around us who have plenty of time and who can cook good food and are willing to cook for money. This website will help you find these people. </h4>
<br>



<div class='row' style='margin:30px;'>
					<a class="twitter-share-button"
    		data-url="http://www.44cooks.com"
    data-text="Find people to cook for you!"
    	>
Tweet
</a>

<div class="fb-like" data-href="http://www.44cooks.com" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true" ></div>
</div>


    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = '44cookscom'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>


</div>
<div class='col-sm-2'>
	</div>
</div>
</div>
<script type="text/javascript">
window.twttr=(function(d,s,id){var t,js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id)){return}js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);return window.twttr||(t={_e:[],ready:function(f){t._e.push(f)}})}(document,"script","twitter-wjs"));
</script>
{% endblock %}