{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class='container' style='margin-top:-150px;'>


<div class='row-fluid' >
<img src="{% static 'assets/images/cook2.jpg' %}" >
<h2 class="thin text-center">Find people to cook for you</h2>
	<div class='col-sm-2'>
	</div>
	<div class='col-md-8'>
		
<p>Take a moment and think about the number of times you ordered food from restaurants.</p>

<p>If its more than 5 times a week, you my friend need some good food.</p>

<h4 class='thin'>Introducing 44cooks.com, a place to find amazing home and professional cooks to cook for you.</h4>

<h4 class='thin'>Be it for parties, social gatherings, date nights or just your daily lunch. You can find 
awesome cooks right in your neighbourhood.</h4>
<br>

<h4 class='thin'>The idea sprung to us when we were quite fedup with ordering unhealthy and expensive restaurant food and came to know
there are people around us who offered cooking services, that is they either come home and cook or deliver fresh food to your home, routinely.</h4>
<br>

<h4> With so many people cooking all this awesome food around us we had to eat it! But there was just one problem, we couldn't find them..</h4> 
<br>
<br>
<h4 class='thin'>We thought there should be a place where anyone who wants to cook could sign up and offer cooking services and people like us can easily find them and eat their delicious and healthy meals!</h4>


<h4 class='thin'>That's why we built 44cooks.com.
<h4 class='thin'>Using 44cooks is pretty straight forward. If you are looking for someone to cook, just enter your neighbourhood and browse through the people, click on them to see what they have been cooking. If you like their food, call them up or send them an email. 
<br>
<h4 class='thin'>If you're looking to offer cooking services, just click the 'Become a cook' button and fill your profile and you should be visible to people in your neighbourhood. 

<h4 class='thin'>There are two types of cooks; Regular cooks and Special/Occasional cooks. Regular cooks offer everyday food
where as Special/Occasional cooks are for events such as parties and social gatherings.

<h4 class='thin'>So the next time you are thinking of a party or dinner with your girlfriend call a chef and have him cook at
home. And don't worry about the prices, some of them are as low as 100 AED.

<h4 class='thin'>Happy cooking!</h4>


</div>

</div>
</div>

{% endblock %}