{% extends "base.html" %}
{% load staticfiles %}


{% block auth %}
					{% if not user.is_authenticated %}
						<li class='active'><a href="{% url 'account_signup' %}?next={% url 'new_profile_view' %}" style='color:red'>Good at cooking?</a> </li>
						<li><a class="btn" href="{% url 'account_signup' %}?next={% url 'new_profile_view' %}" style="background-color:red; color:white">SIGN UP</a></li>
						<li><a class="btn" href="{% url 'account_login' %}" style="background-color:red; color:white">SIGN IN</a></li>
					{% else %}
					<li><a class="btn" href="{% url 'edit_profile_view' %}" style="background-color:white; color:red">EDIT PROFILE</a></li>
					<li><a class="btn" href="{% url 'account_logout' %}" style="background-color:red; color:white">LOGOUT</a></li>
					{% endif %}
{% endblock %}

{% block search %}
	
		<div class="container" style='margin-top:150px;'>
			<div class="row text-center">
				<h1 class="lead ">Find people to cook for you</h1>
				
	 <div class='col-lg-4'>
      </div>

       <div class='col-lg-4 '>
		<form method="GET" action="{% url 'cooks_list_view' %}">
			 <div class='input-group'>
	            {{form}}
				<span class="input-group-btn">
					<button class="btn btn-default" type="submit" style='height:34px;'>
              <span class="fa fa-search"></span>
             </button></span>
             </div>
         </form>
		</div>

		

	<div class='col-lg-4'>
	</div>	
		</div>
	</div>
	

	
	<div class="container text-center">
		<br> <br>
		<h2 class="thin">The best place to find amazing cooks around you.</h2>
		<p class="text-muted">
			<br> 
		
		</p>

	</div>

		
{% endblock %}




















