{% extends "base.html" %}
{% load staticfiles %}
{% load thumbnail %}


{% block auth %}
					{% if not user.is_authenticated %}
						<li><a class="btn" href="{% url 'account_signup' %}?next={% url 'new_profile_view' %}" style="background-color:#CF3030; color:white">Sign up to cook for people</a></li>
						<li><a class="btn" href="{% url 'account_login' %}" style="background-color:white; color:#CF3030">SIGN IN</a></li>
					{% else %}
					<li><a class="btn" href="{% url 'edit_profile_view' %}" style="background-color:white; color:#CF3030">EDIT PROFILE</a></li>
					<li><a class="btn" href="{% url 'account_logout' %}" style="background-color:#CF3030; color:white">LOGOUT</a></li>
					{% endif %}
{% endblock %}

{% block search %}
	
		<div class="container" style='margin-top:100px;'>
			<div class="row text-center" style='margin-bottom:50px;'>
				

				<img src="{% static 'default/timesbanner2.jpg' %}"/>
				 <h1 class="thin ">The best place to find home cooks for everyday food.</h1>
			
				 <h3 class='thin text-center' style='margin-bottom:20px;'>Search for cooks in your area.</h3>

  <div class='row' style="margin-bottom:20px;">
        	<div class='col-lg-4'>
        	</div>
       <div class='col-lg-4'>
		<form method="GET" action="{% url 'cooks_list_view' %}"  >
			 <div class='input-group'>
	            {{form}}
				<span class="input-group-btn">
					<button class="btn btn-default" type="submit" style='height:34px;'>
              <span class="fa fa-search"></span>
             </button></span>
             </div>
         </form>
       
       		

       		
         <!-- <h3 class='lead' style='margin-top:30px;'>or</h3>
         <a class='btn btn-danger' href="{% url 'cooks_list_view' %}"><h4 class='thin'>Find cooks around me</h4></a> -->
		</div>

		

	<div class='col-lg-4'>
	</div>	
		</div>

     

        <h3 class='lead text-center' style='margin-top:5px;'>or</h3>

        <a class='btn btn-danger' href="{% url 'account_signup' %}?next={% url 'new_profile_view' %}" style='background:#CF3030;'><h4 class='thin'>Become a cook</h4></a>
         

      
</div>
</div>
      
		</div>		

	<div class='row text-center' style='padding:35px;background-color:#384452;'>

			<h3 class='thin' style='color:white'>Hundreds of people now use 44Cooks to cook and find amazing cooks around them.</h3>
			<form class='form-inline' method='post' id='subscription_form'>{% csrf_token %}
				<input type='text' class='form-control' id='location_input_1' name='location' style='margin:10px;' placeholder='Enter your location'/>
				<input type='text' class='form-control' id='email_input' name='email' style='margin:10px;' placeholder='Your email'/>
				<button class='btn btn-primary' type='submit'>Subscribe</button>
				<h4 class='thin' style='color:white'>Subscribe and get notified when someone starts cooking in your area.</h4>
			</form>

</div>



	


     		
  		
  	<div class='container' style="margin-top:50px;">
  		<div class='row'>

		<h3 class='thin text-center'>Featured Cooks from UAE</h3>
	
{% include 'cooks_list_block.html' %}
       



      

</div>
</div>

	<script>
	var input = document.getElementById('location_input');
	var input_1 = document.getElementById('location_input_1');
	var types = []
	var autocomplete = new google.maps.places.Autocomplete(input);
	var autocomplete_1 = new google.maps.places.Autocomplete(input_1);
	autocomplete.setTypes(types)
	
	
	$(document).on("keypress", '#subscription_form', function(e){
		var code = e.keyCode || e.which;
		if (code == 13) {
			e.preventDefault();
			return false;
		}
	});

	$("#subscription_form").submit(function(e){
		$.ajax({
			url:"{% url 'cooks_list_view' %}",
			type:'POST',
			dataType:'json',
			data:$("#subscription_form").serialize(),
			success:function(data){
				if(data['status']=='success'){
					$("#subscription_form").replaceWith("<h4 class='thin' style='color:orange'>Subscription successful!</h4>");
				}
				else
				{
					$('#subscription_form').replaceWith("<h4 class='thin' style='color:red'>Something went wrong!</h4> ");
				}
			}
		});
		e.preventDefault();
	});


	</script>
	

{% endblock %}




















