{% extends "base.html" %}
{% load staticfiles %}
{% load thumbnail %}


{% block seo %}
<meta name="description" content="Find people to cook healthy and delicious home food in Dubai, Abu Dhabi and Sharjah. Find chefs to cook food for parties and events. Also find people to bake cakes for birthdays.">
	<title>Find healthy delicious home food for daily meals and parties in Dubai, Abu Dhabi and Sharjah</title>
{% endblock %} 



{% block auth %}
					{% if not user.is_authenticated %}
						<li><a class='btn' href="{% url 'account_signup' %}?next={% url 'new_profile_view' %}" style='background:#CF3030;'><h4 class='thin' style='color:white;'>Become a cook</h4></a></li>
						<li><a class="btn" href="{% url 'account_login' %}" style="background-color:white; color:#CF3030">SIGN IN</a></li>
					{% else %}
					<li><a class="btn" href="{% url 'edit_profile_view' %}" style="background-color:white; color:#CF3030">EDIT PROFILE</a></li>
					<li><a class="btn" href="{% url 'account_logout' %}" style="background-color:#CF3030; color:white">LOGOUT</a></li>
					{% endif %}
{% endblock %}

{% block search %}

	
<div class='container' style='margin-top:100px;'>
<div class="row text-center" style='background-color:; padding:;'>

	<h2 class='thin'>Cook at home and earn money</h2> 
            <div class="col-md-12 no-padding lib-item" data-category="view">
                <div class="lib-panel">
                    <div class="row box-shadow">
                        <div class="col-xs-3">
                            <img src="{% static 'assets/images/woman-cooking.png' %}">
                        </div>
                        <div class="col-md-6" style='margin-top:50px;'>
                        	  
                        	
                        	<div class='text-center' style='margin-top:25px;margin-bottom:35px;'>
     {% include 'account/signup.html' %}
             		
     			
     	</div>
     <h4 class='thin'>People in your neighbourhood are cooking food as a service.</h4>
     <h4 class='thin'>Contact them to eat healthy & delicious meals everyday.</h4>
                        	
					
         
     	
     	<div class="fb-like" data-href="http://www.44cooks.com" data-layout="box_count" data-action="like" data-show-faces="true" data-share="true" style='margin-top:20px;'></div>

     	
     		

     		
                       
						</div>

						<div class='col-xs-3 text-center'>
							<img src="{% static 'assets/images/cooking-man.png' %}">
						</div>
						
                    </div>
                </div>
            </div>
      
		</div>
		</div>	
		
	

<div class='container' style='margin-top:25px;'>
	<div class='row text-center' style='margin:15px;background-color:#eee;' >
		<div class='col-md-6'>				
	<h3 class='thin'>Featured cooks for daily meals</h3>
						
					{% include 'featured_everyday_cooks.html' %}
		</div>

		<div class='col-md-6'>				
	<h3 class='thin'>Featured cooks for events</h3>
						
					{% include 'featured_special_cooks.html' %}
		</div>
	</div>
</div>

	


</div>






<div class='row text-center' style='padding:35px;background-color:;'>

			<h3 class='thin'>HOW IT WORKS</h3>
			
			<div class='col-lg-4'>
				<img class='img-circle' src="{% static 'assets/images/cooks.jpg' %}">
				<h3 class='thin'>Search your neighourhood to see who is cooking.</h3>
			</div>

			<div class='col-lg-4'>
				<img class='img-circle' src="{% static 'assets/images/contact.png' %}">

					<h3 class='thin'>Contact them by phone or email.</h3>
			</div>

			<div class='col-lg-4'>
				<img class='img-circle' src="{% static 'assets/images/food.png' %}">
					<h3 class='thin'>Eat healthy & delicious food everyday.</h3>
			</div>

</div>

<div class='row text-center' style='padding:35px;background-color:#384452;'>

			<h3 class='thin' style='color:white'>We're helping hundreds of people to cook and find amazing cooks around them.</h3>
			<form class='form-inline' method='post' id='subscription_form'>{% csrf_token %}
				<input type='text' class='form-control' id='location_input_1' name='location' style='margin:10px;' placeholder='Enter your location'/>
				<input type='text' class='form-control' id='email_input' name='email' style='margin:10px;' placeholder='Your email'/>
				<button class='btn btn-primary' type='submit'>Subscribe</button>
				<h4 class='thin' style='color:white'>Subscribe and get notified when someone starts cooking in your area.</h4>


			</form>

</div>

	

	



  	


<div class='row text-center' style='padding:15px;background-color:#;'>
<h3 class='thin' style='color:'>So what is 44cooks.com?</h3><br>
                        	

<h4 class='thin' style='color:'>44cooks is a place where people can cook for other people.</h4><br>
<h4 class='thin'style='color:'>It helps busy individuals find close by home cooks 
to solve their everyday food problem.</h4><br> <h4 class='thin' style='color:white'>It also helps people to hire top class chefs for events such as parties and birthdays.</h4><br>
<a class='btn' href="{% url 'intro_blog' %}" style='background-color:#CF3030; color:white;margin-top:20px;'>Read more</a>



				

</div>	





	<script>
	var input = document.getElementById('location_input');
	var input_1 = document.getElementById('location_input_1');
	var types = []
	var autocomplete = new google.maps.places.Autocomplete(input);
	var autocomplete_1 = new google.maps.places.Autocomplete(input_1);
	autocomplete.setTypes(types)
	
	
	$(document).on("keypress", '#subscription_form', function(e){
		var code = e.keyCode || e.which;
		if (code == 13) {
			e.preventDefault();
			return false;
		}
	});

	$("#subscription_form").submit(function(e){
		$.ajax({
			url:"{% url 'cooks_list_view' %}",
			type:'POST',
			dataType:'json',
			data:$("#subscription_form").serialize(),
			success:function(data){
				if(data['status']=='success'){
					$("#subscription_form").replaceWith("<h4 class='thin' style='color:orange'>Subscription successful!</h4>");
				}
				else
				{
					$('#subscription_form').replaceWith("<h4 class='thin' style='color:red'>Something went wrong!</h4> ");
				}
			}
		});
		e.preventDefault();
	});


	</script>
	

{% endblock %}




















