{% load thumbnail %}

{% for cook in featured_cooks %}


<div class="block-update-card status col-xs-12 " style='margin-bottom:10px;background-color:white;padding:5px;'>
  <a href="{% url 'cooks_detail_view' pk=cook.id %}" style='cursor:pointer; color:#555'>
 <div class="col-md-5">
    	
        {% thumbnail cook.image "110x110" crop="center" as im %}
                <img  class='img-thumbnail' src="{{ cook.image.url }}"  width="{{ im.width }}" height="{{ im.height }}">
              {% endthumbnail %}
    
  </div>


  <div class="col-md-5"> 
      <h5><b>{{cook.user.first_name}}</b></h5>
      <h5>{{cook.cook_type}}</h5>
      <h5>{{cook.get_price_range}}</h5>
      <h5>{{cook.area}}</h5>
      </div>



 <div class="update-card-body col-md-1">
  <br>
      <div class="btn-group fa fa-phone" ></div><br><br>
<div class="btn-group fa fa-envelope"></div>
      <!-- <div class="btn-group fa fa-magic"></div>
      <div class="btn-group fa fa-photo"></div>  -->
    </div>
    </a>

      


</div>


 


{% endfor %}


