{% extends 'base.html' %}
{% load staticfiles %}




<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.js" type="text/javascript"></script>




<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
{% block profile_links %}
{% include 'autocomplete_light/static.html' %}
<script type="text/javascript">
	function upload_img(input){
		if (input.files && input.files[0]){
			var reader = new FileReader();
			reader.onload = function(e){
				$('#img_id').attr('src', e.target.result);
			}
			reader.readAsDataURL(input.files[0]);
		}
	}

</script>
{% endblock %}

{% block profile_form %}
<div class="container" style="margin-top:100px;">
	<div class="row">
		
		<div class='col-lg-3'>
		</div>

		<div class='col-lg-6'>
		
		<form  class="form-group" method = "post" enctype='multipart/form-data'>{% csrf_token %}
		
		<div class='text-center'>
			{% if form.errors %}
			<div class='alert alert-danger'><p>SOME FIELDS ARE MISSING!</p></div>
			{% endif %}

			<h2>Become a cook</h2><br>
		<img src="{% static 'default/profile1.png' %}" class="img-thumbnail" style="width:150px;height:150px; margin:50px;" id='img_id' alt=>
			{{form.image}}
				<br>
		</div>

				<b>Mobile</b>
				{{form.mobile}}
				<p style='color:blue'>Your contact number for customers. This is optional. People can contact you through email also.</p>
				<br>

				<b>What should people know about your cooking?</b>
				{{form.intro}}
				<br>

				<div class="form-inline">
					<b>What can you provide?</b><br>
					<div style="margin:10px;">
					Breakfast: {{form.breakfast}}
					</div>

					<div style="margin:10px;">
					Lunch: {{form.lunch}}
					</div>

					<div style="margin:10px;">
					Dinner: {{form.dinner}}
					</div>
					<br>
					
				</div>

				<b>What food do you cook best?</b>		
				{{form.cuisines}}
				<br>
				{% if form.cuisines.errors %}
				<div class='alert alert-danger'><p>Please select a cuisine.</p></div>
				{% endif %}
				<br>

				{% if form.non_field_errors %}
				<div class="alert alert-danger">
				<strong>{{form.non_field_errors}}</strong>
				</div>
				{% endif %}

				<div class="form-inline" style="margin-top:15px;margin-bottom:25px;">
				<b>What type of cooking service are you providing?</b><br>
				
				<div style="margin:10px;">
				{{form.cook_type}}
				{% if form.cook_type.errors %}
				<div class='alert alert-danger'><p>Please select a cooking service.</p></div>
				{% endif %}
				</div>

				
		
			</div>
				

				<div class="form-inline" style="margin-top:35px;">
				<b>Enter a price range for your cooking service</b><br>				
					{{form.min_price}}  AED
					 <b style='margin-left:10px;margin-right:10px;'>to</b> 		
					{{form.max_price}} AED
				</div>
				{% if form.min_price.errors or form.max_price.errors %}
				<div class='alert alert-danger'><p>Please enter a price range.</p></div>
				{% endif %}

				<p style='color:blue'>If you are an everyday cook, enter a price range for one meal. Eg: if you wish to charge 15 AED for one meal then enter 10-20.</p><p style='color:blue'>If you are a special cook, enter a price range for one time cooking. Eg: if you wish to charge 130 AED for one time cooking then enter 100-150.</p><br><br> 
				 
			
				<b>Please select your nieghbourhood</b>
				{{form.areas}}
				<br>
				{% if form.areas.errors %}
				<div class='alert alert-danger'><p>Please select a neighbourhood.</p></div>
				{% endif %}
				<br>

				<b>Additional area information (building name or subcommunity)</b>
				{{form.area_info}}
				<br><br>
				
				<div class='text-center' style="margin:55px;">
				<button class="btn btn-lg btn-danger " type="submit">Register</button>
				</div>
		</form>
	
	</div>

	<div class='col-lg-3'>
	</div>

	</div>	
</div>
{% endblock %}