{% extends 'base.html' %}
{% load thumbnail %}


{% block edit_profile %}

<div class="container" style="margin-top:150px;">



				
<form method = "post" enctype='multipart/form-data'>{% csrf_token %}
	<div class="row">

	<div class='col-lg-3'>

			 
			 {% thumbnail object.image "200x200" crop="center" as im %}
    			<img src="{{object.image.url}}" class="img-thumbnail" style="width:150px;height:150px; margin:50px;" id='img_id' alt=>
			 	{{form.image}}
			 {% endthumbnail %}
			 <h4 style='margin:10px'>{{object.full_name}}</h4>
			</div>
	
		
		<div class='col-lg-6'>
		
	

		<div class='row text-center' style='width:80%'>

			<div class='panel panel-info' style='padding:15px;'>
				<h4 class='thin'>What should people know about your cooking?</h4>
				{{form.intro}}
			</div>
			<div class='panel panel-info' style='padding:15px;'> 
			 <h4 class='thin'>Mobile</h4>	
			 {{form.mobile}}
			</div>

		</div>

		<div class='row text-center' style='width:80%'>
			<div class='panel panel-info' style='padding:15px;'> 
			 <h4 class='thin'>Cusines</h4>	
			 {{form.cuisines}} 
			</div>
		</div>

		<div class='row text-center' style='width:80%'>
			<div class='panel panel-info' style='padding:15px;'> 
				 <h4 class='thin'>Neighbourhood</h4>	
			 {{form.place_slug}}	 
			<br>
			<h4 class='thin'>Building/Sub-community</p>
			{{form.area_info}}
				</div>
		</div>

		
		<div class='row text-center' style='width:80%'>
			<div class='panel panel-info' style='padding:15px;'> 
			 <h4 class='thin' style="margin-top:20px;">Select cook type</h4>
				<div class='form-inline'>
					{% for type in form.cook_type %}
					{{type}}
					{% endfor %}
				</div>		 
			</div>
		</div>

		<div class='row text-center' style='width:80%'>
		<div class='panel panel-info' style='padding:15px;'>
	<h4 class='thin' style="margin-top:40px;">Enter a price range for your cooking service</h4>				
					<div class="form-inline" style="margin-top:35px;">
					{{form.min_price}}  AED
					 <b style='margin-left:10px;margin-right:10px;'>to</b> 		
					{{form.max_price}} AED
				</div>
				<br>

				<h4 class='thin' id='help_text_price_input_1' style='color:maroon'>If you are an everyday cook, enter a price range for one meal. Eg: if you wish to charge 15 AED for one meal then enter 10-20.</h4><h4 id='help_text_price_input_2' class='thin' style='color:grey'>If you are a special cook, enter a price range for one time cooking. Eg: if you wish to charge 130 AED for one time cooking then enter 100-150.</h4><br><br>
			</div>
		</div>

		



		<div class='row text-center' style='width:80%'>
			<div class='panel panel-info' style='padding:15px;'> 
			<div class="form-inline" style="margin-top:20px;">
					<h4 class='thin'>What can you provide?</h4>
					<div style="margin:10px;">
					<h5 class='thin'>Breakfast: {{form.breakfast}}</h5>
					</div>

					<div style="margin:10px;">
					<h5 class='thin'>Lunch: {{form.lunch}}</h5>
					</div>

					<div style="margin:10px;">
					<h5 class='thin'>Dinner: {{form.dinner}}</h5>
					</div>
					<br>
					
				</div>	 
			</div>
		</div>
<button class='btn'  type="submit" style="background-color:#CF3030; color:white; margin:50px;">Update</button>

	</div>


	</div>


	<div class='col-md-3'>
		
		
		</div>

	
</form>

</div>

<script>
	$('#help_text_price_input_1').hide();
	$('#help_text_price_input_2').hide();

	$('#min_price').click(function(){
		$('#help_text_price_input_1').show()
		$('#help_text_price_input_2').show()
	}
	);

	$(document).on("keypress", 'form', function(e){
		var code = e.keyCode || e.which;
		if (code == 13) {
			e.preventDefault();
			return false;
		}
	});


	var input = document.getElementById('place-input');
	var types = []
	var autocomplete = new google.maps.places.Autocomplete(input);
	autocomplete.setTypes(types)
	</script>
{% endblock %}