{% load thumbnail %}



      <div class='row'>

      	{% for cook in object_list %}

   <div class="block-update-card status col-xs-12 panel panel-default" style='margin-bottom:15px;padding:15px;background-color:#eee;' >
  <a href="{% url 'cooks_detail_view' pk=cook.id %}" style='cursor:pointer; color:#555'>
 <div class="update-card-body"  style='background-color:red;' >
    	<div class="pull-left" >
        {% thumbnail cook.image "110x110" crop="center" as im %}
                <img class="img-thumbnail" src="{{ cook.image.url }}"  width="{{ im.width }}" height="{{ im.height }}">
              {% endthumbnail %}
    
  </div>
</div>
<div class="col-xs-2" style='background-color:;'>
      
      <h5 class='thin'><b>{{cook.user.first_name}}</b></h5>
      <h5 class='thin'>{{cook.cook_type}}</h5>
      {% if "Everyday" in cook.cook_type.name %}
     	 <h5 class='thin'>{{cook.get_price_range}}</h5>
      {% elif "Special" in cook.cook_type.name %}
      	<h5 class='thin'>{{cook.get_price_range}}</h5>
      {% elif "Baker" in cook.cook_type.name %}
      	<h5 class='thin'>{{cook.get_price_range}}</h5>
      	{% endif %}	 
      <h5 class='thin'>{{cook.area}}</h5>

</div>
<div class="col-xs-1 " style='background-color:;'>

      {% for cuisine in cook.cuisines.all|slice:":3" %}
							<h5 class='thin'>{{cuisine}}</h5>
							{% endfor %}

</div>
<div class="col-xs-1 " style='background-color:;'>
{% if cook.breakfast %}
							<h5 class='thin'>Breakfast</h5>
							{% endif %}
						
							{% if cook.lunch %}
							<h5 class='thin'>Lunch</h5>
							{% endif %}
							
							{% if cook.dinner %}
							<h5 class='thin'>Dinner</h5>
							{% endif %}
						</div>

<div class="col-xs-2 " style='background-color:;'>
<div class="card-action-pellet btn-toolbar text-center" role="toolbar">
    <br>
      <div class="btn-group fa fa-phone" ></div><br><br>
<div class="btn-group fa fa-envelope"></div>
      <!-- <div class="btn-group fa fa-magic"></div>
      <div class="btn-group fa fa-photo"></div>  -->
    </div>		
       </div>					


    
  
    	
         <div class=" col-md-5">
          {% for meal in cook.meals.all|slice:":4" %}
            {% thumbnail meal.image  "105x105" crop="center" as im %}
                <img src="{{ meal.image.url }}" class='img-thumbnail' width="{{ im.width }}" height="{{ im.height }}" style='margin:3px;'>
            {% endthumbnail %}
          {% endfor %}
        </div>
   
   

  
</a>
 </div>

			
{% endfor %}

   </div>

<script>
jQuery(document).ready(function($) {
      $(".clickableRow").click(function() {
            window.document.location = $(this).attr("href");
      });
});
</script>