{% extends "base.html" %}
{% load staticfiles %}
{% load thumbnail %}





{% block auth %}
					{% if not user.is_authenticated %}
						<li class='active'><a href="{% url 'account_signup' %}?next={% url 'new_profile_view' %}" style='color:red'>Are you a cook?</a> </li>
						<li><a class="btn" href="{% url 'account_signup' %}?next={% url 'new_profile_view' %}" style="background-color:red; color:white">SIGN UP</a></li>
						<li><a class="btn" href="{% url 'account_login' %}" style="background-color:red; color:white">SIGN IN</a></li>
					{% else %}
					<li><a class="btn" href="{% url 'edit_profile_view' %}" style="background-color:white; color:red">EDIT PROFILE</a></li>
					<li><a class="btn" href="{% url 'account_logout' %}" style="background-color:red; color:white">LOGOUT</a></li>
					{% endif %}
{% endblock %}





{% block cooks_list %}
<div class="container-fluid wrap " style='margin-top:100px;margin-bottom:80px;'>
		
	<div class='row' style="background-color:;padding:30px;">
		<div class="col-xs-3">
		</div>
		
		<div class='col-lg-6 text-center'>
			<form method="GET">
		
			
				{{form}}
				 
              {% if object_list.count > 1 %}
              
              	<form method='GET' >
              		<div class="col-md-4" style="margin-top:10px;">
              		<select class="form-control" id="price_filter">
 						<option>Price</option>
  						<option>More to less</option>
  						<option>Less to more</option>
  					</select>
  				</div>
  					<div class="col-md-4" style="margin-top:10px;">
              		<select class="form-control">
 						<option>Rating</option>
  						<option>More to less</option>
  						<option>Less to more</option>
  					</select>
  					</div>
  					<div class="col-md-4" style="margin-top:10px;">
  						<select class="form-control">
 						<option>Cook type</option>
  						<option>Regular cooks</option>
  						<option>Special cooks</option>
  					</select>
  					</div>


  					</div>
  				</from>
              {% endif %}
              
            <!--   <button class="btn btn-default" type="submit" style='height:34px;'> -->
              
            <!--  </button> -->
          
           
			
		</form>
	</div>
		<div class="col-xs-3">
		</div>
	
	</div> <!-- row -->


	{% if object_list.count == 0 %}
	<div class='container'>
	<div class="row text-center" style="margin-top:30px;">
		<h3> No cooks have registered in this neighbourhood yet...</h3>

	</div>
</div>
	{% else %}
	
	<div class='container'>
		


		<div class="row" >
			<table class='table table-hover '>
				
						
				
				<tr>
					<th></th>
					<th></th>
					<th>Cuisines</th>
					<th>Neighbourhood</th>
					<th>Availability</th>
					<th>Type</th>
					<th>Price</th>
					<th></th>
					<th></th>	
				</tr>
					{% for cook in object_list %}

						
					
						<tr>
							<td>
							{% thumbnail cook.image "110x110" crop="center" as im %}
    							<img src="{{ cook.image.url }}" class='img-thumbnail' width="{{ im.width }}" height="{{ im.height }}">
							{% endthumbnail %}
						</td>
						<td><b>{{cook.user.get_full_name}}</b></td>
						<td>
							{% for cuisine in cook.cuisines.all|slice:":3" %}
							{{cuisine}}<br>
							{% endfor %}
						</td>
						<td>
							{% for area in cook.areas.all|slice:":3" %}
							{{area}}<br>
							{% endfor %}
							<h6>{{cook.area_info}}</h6>
						</td>

						<td>
							{% if cook.breakfast %}
							<p>Breakfast</p>
							{% endif %}
						
							{% if cook.lunch %}
							<p>Lunch</p>
							{% endif %}
							
							{% if cook.dinner %}
							<p>Dinner</p>
							{% endif %}
						</td>
						<td>
							<p>{{cook.cook_type}}</p>
						
						</td>
						<td >
							<p>{{cook.min_price}} AED - {{cook.max_price}} AED</p>
						
						<td><a class="btn btn-default" href="{% url 'cooks_detail_view' pk=cook.id %}">Contact</a></td>

					</tr>


					{% endfor %}
				</table>
						

				

		
	{% endif %}
	</div>
</div>
</div>
{% endblock %}