{% extends 'base.html' %}
{% load staticfiles %}




<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.js" type="text/javascript"></script>




<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
{% block profile_links %}
{% include 'autocomplete_light/static.html' %}
{% endblock %}

{% block profile_form %}

<div class="container" style="margin-top:100px;">
	<div class="row ">
		<div class='col-lg-12'>

		

		
		
		<div class='col-lg-3'>
		</div>


		<div class='col-lg-6 text-center well' style='margin-top:25px;'>
			<div class='alert alert-info'>
			<h3 class='thin'>Reach over 580 people who want your food,</h3>

			<h3 class='thin'>by creating this cooking profile!</h3>
		</div>
		<form  class="form-group" method = "post" enctype='multipart/form-data' style='margin-top:50px;'>{% csrf_token %}
	
						 
				<h4 class='thin' style="margin-top:20px;">Enter your mobile (optional)</h4>
				{{form.mobile}}
		
  
				
				<div class="form-inline" style="margin-top:20px;">
					<h4 class='thin'>What can you provide?</h4>
					<div style="margin:10px;">
					<h5 class='thin'>Breakfast: {{form.breakfast}}</h5>
					</div>

					<div style="margin:10px;">
					<h5 class='thin'>Lunch: {{form.lunch}}</h5>
					</div>

					<div style="margin:10px;">
					<h5 class='thin'>Dinner: {{form.dinner}}</h5>
					</div>
					<br>
					
				</div>

				<h4 class='thin'>What cuisines do you cook best?</h4>		
				<div style='margin:15px;'>{{form.cuisines}}</div>
				<br>


				<h4 class='thin' style="margin-top:20px;">Select cook type</h4>
				<div class='form-inline'>
					{% for type in form.cook_type %}
					{{type}}
					{% endfor %}
				</div>


				<h4 class='thin' style="margin-top:40px;">Enter a price range for your cooking service</h4>				
					<div class="form-inline" style="margin-top:35px;">
					{{form.min_price}}  AED
					 <b style='margin-left:10px;margin-right:10px;'>to</b> 		
					{{form.max_price}} AED
				</div>

				<h4 class='thin' id='help_text_price_input_1' style='color:maroon'>If you are an everyday cook, enter a price range for one meal. Eg: if you wish to charge 15 AED for one meal then enter 10-20.</h4><h4 id='help_text_price_input_2' class='thin' style='color:grey'>If you are a special cook, enter a price range for one time cooking. Eg: if you wish to charge 130 AED for one time cooking then enter 100-150.</h4><br><br>
			
				

				<h4 class='thin' style="margin-top:40px;">Please select your neighbourhood</h4>
			
					{{form.place_slug}}
			


				
				<br>
				{% if form.areas.errors %}
				<div class='alert alert-danger'><p>Please select a neighbourhood.</p></div>
				{% endif %}
				<br>

				<b>Additional area information (building name or subcommunity)</b>
				{{form.area_info}}
				<br><br>
		

		
				<button class="btn btn-lg btn-danger " type="submit">Finish</button>
				
		</form>
	</div>
	<div class='col-lg-3'>
	</div>

	</div>
</div>
	
		
	</div>	
			

		<script>
	$('#help_text_price_input_1').hide();
	$('#help_text_price_input_2').hide();

	$('#min_price').click(function(){
		$('#help_text_price_input_1').show()
		$('#help_text_price_input_2').show()
	}
	);

	$(document).on("keypress", 'form', function(e){
		var code = e.keyCode || e.which;
		if (code == 13) {
			e.preventDefault();
			return false;
		}
	});


	var input = document.getElementById('place-input');
	var types = []
	var autocomplete = new google.maps.places.Autocomplete(input);
	autocomplete.setTypes(types)
	</script>

{% endblock %}
